@media (max-width: 575px) {
    
.feedback {

    h2 {
        margin-bottom: 20px;
    }

    &__item {        
        display: block;
    }

    &__img {        
        display: block; 
        margin: 0 auto;
        margin-bottom: 10px;   
    }

    &__text {
        padding: 0 20px;
        margin-left: 0;
        
    }

    &__title {
        text-align: center; 
    }

    &__subtitle {
        text-align: center;
    }

    &__descr {
        text-align: center;        
    }

    hr {
        margin: 20px 0;
    }
}    
}